{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-theme" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-theme" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <fieldset>
            <legend>{{ text_general }}</legend>
            <div class="row mb-3">
              <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
              <div class="col-sm-10">
                <div class="form-check form-switch form-switch-lg">
                  <input type="checkbox" name="bakery" value="1" id="input-status" class="form-check-input" checked/>
                  <input type="checkbox" name="theme_bakery_status" value="1" id="input-status" class="form-check-input"{% if theme_bakery_status %} checked{% endif %}/>
                </div>
              </div>
            </div>
          </fieldset>

         {# themability colors #}
         <fieldset>
            <legend>{{ text_color }}</legend>
            <div class="form-group row mb-3">
               <label class="col-sm-2 col-form-label" for="input-primary-color">{{ entry_primary_color }}</label>
               <div class="col-sm-1">
                  <input class="form-control" type="color" name="theme_bakery_primary_color" value="{{ theme_bakery_primary_color }}" id="input-primary-color" style="padding: 0 2px;">
               </div>
            </div>
            <div class="form-group row mb-3">
               <label class="col-sm-2 col-form-label" for="input-primary-hover-color">{{ entry_primary_hover_color }}</label>
               <div class="col-sm-1">
                  <input class="form-control" type="color" name="theme_bakery_primary_hover_color" value="{{ theme_bakery_primary_hover_color }}" id="input-primary-hover-color" style="padding: 0 2px;">
               </div>
            </div>
            <div class="form-group row mb-3">
               <label class="col-sm-2 col-form-label" for="input-secondary-color">{{ entry_secondary_color }}</label>
               <div class="col-sm-1">
                  <input class="form-control" type="color" name="theme_bakery_secondary_color" value="{{ theme_bakery_secondary_color }}" id="input-secondary-color" style="padding: 0 2px;">
               </div>
            </div>                 
            <div class="form-group row mb-3">
               <label class="col-sm-2 col-form-label" for="input-secondary-light-color">{{ entry_secondary_light_color }}</label>
               <div class="col-sm-1">
                  <input class="form-control" type="color" name="theme_bakery_secondary_light_color" value="{{ theme_bakery_secondary_light_color }}" id="input-secondary-light-color" style="padding: 0 2px;">
               </div>
            </div>
            <div class="form-group row mb-3">
               <label class="col-sm-2 col-form-label" for="input-background-color">{{ entry_background_color }}</label>
               <div class="col-sm-1">
                  <input class="form-control" type="color" name="theme_bakery_background_color" value="{{ theme_bakery_background_color }}" id="input-background-color" style="padding: 0 2px;">
               </div>
            </div>
            <div class="form-group row mb-3">
               <label class="col-sm-2 col-form-label" for="input-border-color">{{ entry_border_color }}</label>
               <div class="col-sm-1">
                  <input class="form-control" type="color" name="theme_bakery_border_color" value="{{ theme_bakery_border_color }}" id="input-border-color" style="padding: 0 2px;">
               </div>
            </div>                  
         </fieldset>
         {# .themability colors #}

         {# themability images #}
         <fieldset>
            <legend>{{ text_image_header }}</legend>
            <div class="orm-group row mb-3 required">
               <label class="col-sm-2 col-form-label">{{ entry_theme_bakery_breadcrumb_image }}</label>
               <div class="col-sm-2">
                  <div class="card image theme_bakery_breadcrumb_image">
                     <img src="{{ theme_bakery_breadcrumb_image_thumb }}" alt="" title="" id="thumb-theme_bakery_breadcrumb_image" data-oc-placeholder="{{ theme_bakery_breadcrumb_image_placeholder }}" class="card-img-top"/> 
                     <input type="hidden" name="theme_bakery_breadcrumb_image" value="{{ theme_bakery_breadcrumb_image }}" id="input-theme_bakery_breadcrumb_image"/>
                     <div class="card-body">
                     <button type="button" data-oc-toggle="image" data-oc-target="#input-theme_bakery_breadcrumb_image" data-oc-thumb="#thumb-theme_bakery_breadcrumb_image" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
                     <button type="button" data-oc-toggle="clear" data-oc-target="#input-theme_bakery_breadcrumb_image" data-oc-thumb="#thumb-theme_bakery_breadcrumb_image" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
                     </div>
                  </div>
                  <div id="error-theme-bakery-breadcrumb-image" class="invalid-feedback"></div>
               </div>
               <div class="col-sm-8">
                  <div>{{ text_theme_bakery_breadcrumb_size_note }}</div>
               </div>
            </div>

            <div class="orm-group row mb-3 required">
               <label class="col-sm-2 col-form-label">{{ entry_theme_bakery_loader_image }}</label>
               <div class="col-sm-2">
                  <div class="card image theme_bakery_loader_image">
                     <img src="{{ theme_bakery_loader_image_thumb }}" alt="" title="" id="thumb-theme_bakery_loader_image" data-oc-placeholder="{{ theme_bakery_loader_image_placeholder }}" class="card-img-top"/> 
                     <input type="hidden" name="theme_bakery_loader_image" value="{{ theme_bakery_loader_image }}" id="input-theme_bakery_loader_image"/>
                     <div class="card-body">
                     <button type="button" data-oc-toggle="image" data-oc-target="#input-theme_bakery_loader_image" data-oc-thumb="#thumb-theme_bakery_loader_image" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
                     <button type="button" data-oc-toggle="clear" data-oc-target="#input-theme_bakery_loader_image" data-oc-thumb="#thumb-theme_bakery_loader_image" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
                     </div>
                  </div>
                  <div id="error-theme-bakery-loader-image" class="invalid-feedback"></div>
               </div>
               <div class="col-sm-8">
                  <div>{{ text_theme_bakery_loader_size_note }}</div>
               </div>
            </div> 
         </fieldset>
         {# .themability images #}

         {# themability header fixed #}
         <fieldset>
            <legend>{{ text_header }}</legend>              
            <div class="row mb-3">
               <label for="input-status" class="col-sm-2 col-form-label">{{ entry_header_fixed }}</label>
               <div class="col-sm-10">
               <div class="form-check form-switch form-switch-lg">
                  <input type="hidden" name="theme_bakery_header_fixed" value="0"/>
                  <input type="checkbox" name="theme_bakery_header_fixed" value="1" id="input-theme_bakery_header_fixed" class="form-check-input"{% if theme_bakery_header_fixed %} checked{% endif %}/>
               </div>
               </div>
            </div>               
         </fieldset>
         {# .themability header fixed #}

         {# blog page limit #}
         {% if blog_enable %}
         <fieldset>
            <legend>{{ text_blog }}</legend>
            <div class="form-group row mb-3">
               <label class="col-sm-2 col-form-label" for="input-blog-limit">{{ entry_blog_limit }}</label>
               <div class="col-sm-10">
                  <input type="text" name="theme_bakery_blog_limit" value="{{ theme_bakery_blog_limit }}" placeholder="{{ entry_blog_limit }}" id="input-blog-limit" class="form-control" />
               </div>
            </div>                 
         </fieldset>
         {% endif %}
         {# .blog page limit #}

         {# themability header primary menu #}
         {% if themability_megamenu_enable %}
          <fieldset>
            <legend>{{ text_megamenu }}</legend>
            <div class="form-group row mb-3">
               <label class="col-sm-2 col-form-label" for="input-header">{{ entry_header_primary_menu }}</label>
               <div class="col-sm-10">                        
                  <label class="radio-inline">
                     <input type="radio" name="theme_bakery_primary_megamenu" value="0" 
                     {% if theme_bakery_primary_megamenu == '' or theme_bakery_primary_megamenu == 0 %} checked="checked" {% endif %} style="margin: 0px 5px -2px;" >{{ entry_default_menu }}
                  </label><br>
                  {% for themability_megamenu in themability_megamenu_list %}                           
                        <label class="radio-inline">
                           <input type="radio" name="theme_bakery_primary_megamenu" value="{{ themability_megamenu.module_id }}" 
                        {% if theme_bakery_primary_megamenu == themability_megamenu.module_id %} checked="checked" {% endif %} style="margin: 0px 5px -2px;" >{{ themability_megamenu.name }}
                        </label><br>                           
                  {% endfor %}
               </div>
            </div>                  
         </fieldset>
         {% endif %}
         {# .themability header primary menu #}
         
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
