{{ header }}{{ column_left }}
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="float-end">
             {% if return %} 
            <a href="{{ return }}" data-bs-toggle="tooltip" title="{{ button_return }}" class="btn btn-light"  id="back_btn" ><i class="fas fa-reply"></i></a>
            {% endif %}
            {# <a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a> #}
            <button type="submit" form="delete_themability_blog" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>            
         </div>
         <h1>{{ heading_title }}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% endfor %}
         </ul>
      </div>
   </div>

   <div class="container-fluid">
      <div class="card">
         <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_list }}</div>
         <div class="card-body">           
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="delete_themability_blog" data-oc-toggle="ajax" class="">
               <div class="table-responsive">
               <input type="hidden" name="page_name" value="blog_list_page">
                  <table class="table table-bordered table-hover">
                     <thead>
                        <tr>
                           <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                           <td class="text-left">{% if sort == 'b.title' %} 
                              <a href="{{ sort_title }}" class="{{ order|lower}}">{{ column_title }}</a>
                              {% else %}   
                              <a href="{{ sort_title }}">{{ column_title }}</a>
                              {% endif %} 
                           </td>
                           <td class="text-left">{% if sort == 'b.module_id' %} 
                              <a href="{{ sort_module }}" class="{{ order|lower }}">{{ column_module }}</a>
                              {% else %}   
                              <a href="{{ sort_module }}">{{ column_module }}</a>
                              {% endif %} 
                           </td>
                           <td class="text-left">{{ column_status }}</td>
                           <td class="text-right">{{ column_comments }}</td>
                           <td class="text-right">{% if sort == 'b.date_added' %} 
                              <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                              {% else %}   
                              <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                              {% endif %} 
                           </td>
                           <td class="text-right">{{ column_action }}</td>
                        </tr>
                     </thead>
                     <tbody>
                        {% if themability_bloggers %} 
                        {% for blog in themability_bloggers %} 
                        <tr>
                           <td class="text-center">{% if blog.selected %} 
                              <input type="checkbox" name="selected[]" value="{{ blog.themability_blogger_id}}" checked="checked" />
                              {% else %}   
                              <input type="checkbox" name="selected[]" value="{{ blog.themability_blogger_id }}" />
                              {% endif %} 
                           </td>
                           <td class="text-left">{{ blog.title }}</td>
                           <td class="text-left">{{ blog.module }}</td>
                           <td class="text-left">{{ blog.status }}</td>
                           <td class="text-right">{{ blog.total_comments }}</td>
                           <td class="text-right">{{ blog.date_added }}</td>
                           <td class="text-right">
                              <a href="{{ blog.comments }}" data-bs-toggle="tooltip" title="{{ button_comments }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                              <a href="{{ blog.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                           </td>
                        </tr>
                        {% endfor %} 
                        {% else %}   
                        <tr>
                           <td class="text-center" colspan="7">{{ text_no_results }}</td>
                        </tr>
                        {% endif %} 
                     </tbody>
                  </table>
               </div>
            </form>
            <div class="row">
               <div class="col-sm-6 text-left">{{ pagination }}</div>
               <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
         </div>
      </div>
   </div>
</div>
{{ footer }}