{{ header }}{{ column_left }}
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="float-end">
		 	<a href="{{ insert }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
			<button type="submit" form="delete_themability_testimonial" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
         </div>
         <h1>{{ heading_title }}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% endfor %}
         </ul>
      </div>
   </div>
   <div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		{% endif %}
		<div class="card">
        	<div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }}</div>
         	<div class="card-body">
				<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="delete_themability_testimonial" data-oc-toggle="ajax" class="">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
							<tr>
								<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
									<td class="text-center">{{ column_image }}</td>
									<td class="text-left">{{ column_name_item }}</td>
									<td class="text-center"> {{ column_sort_order }}</td>
									<td class="text-center">{{ column_status }}</td>
									<td class="text-center">{{ column_action }}</td>
								</tr>
							</thead>
							<tbody>
								{% if themability_testimonials %}
									{% for themability_testimonial in themability_testimonials %}
										<tr>
											<td class="text-center">
												{% if themability_testimonial.selected%}
													<input type="checkbox" name="selected[]" value="{{ themability_testimonial.themability_testimonial_id }}" checked="checked" />
												{% else %}
													<input type="checkbox" name="selected[]" value="{{ themability_testimonial.themability_testimonial_id }}" />
												{% endif %}
											</td>
											<td class="text-center"><img src="{{ themability_testimonial.image }}" alt="{{ themability_testimonial.customer_name }}" class="img-thumbnail"/></td>
											<td class="text-left">{{ themability_testimonial.customer_name }}</td>
											<td class="text-center">{{ themability_testimonial.sort_order }}</td>
											<td class="text-center">{{ themability_testimonial.status }}</td>
											<td class="text-center">
												{% for action in themability_testimonial.action %}
													<a href="{{ action.href }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
												{% endfor %}
											</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td class="text-center" colspan="5">{{ text_no_results }}</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-sm-6 text-start">{{ pagination }}</div>
						<div class="col-sm-6 text-end">{{ results }}</div>
					</div>
				</form>				

			</div>
		</div>
	</div>
</div>
{{ footer }}